---
layout: default
title: Blog
permalink: /blog/
---
<section class='page blog'>
  <h1 class="page-heading">Neuigkeiten</h1>

  {% for post in site.posts %}
  <article>
    <header>
      <span class="post-meta">{% include date.html date=post.date %}</span>
      <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    </header>
    {{ post.excerpt }}
  </article>
  {% endfor %}
 <p class="rss-subscribe"><a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a> abonnieren</p>
</section>