---
layout: default
title: Fahrzeuge
permalink: /fahrzeuge/
---
<div class="cars">
 <h1 class="cars-heading">Fahrzeuge</h1>
  {% for car in site.cars %}
   <section>
    <h2><a class="car-link" href="{{ car.url | prepend: site.baseurl }}">{{ car.year | append: '-01-01' | date: "'%yer" }} {{ car.title }}</a></h2>
    <img src='{{ car.images[0].url }}' alt='{{ car.make }} {{ car.type }}'>
    {% if car.owner.name != "" and car.owner.name != nil %}<p>Fahrer{% if car.owner.gender == 'f' %}in{% endif %}: {{ car.owner.name }}{% endif %}
   </section>
  {% endfor %}
</div>