<script src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<link href='//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.css' rel='stylesheet'>
<script src='//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.min.js'></script>
<script>
lightbox.option({
  'albumLabel': 'Bild %1 von %2',
  'fadeDuration': 250,
  'resizeDuration': 0
})

var exts = ['png','jpg','jpeg','svg']
$('.page a:has(> img)').each(function(){
  if($(this).attr('href').match(new RegExp('('+exts.join('|')+')'), 'gi')) {
    $(this).attr('data-lightbox', 'image-gallery').attr('data-title', $(this).find('img').attr('alt'))
  }
})
</script>
