<script>
function initLightbox() {
  $(document).ready(function () {
    $('.page a:has(> img)').each(function(){
      if($(this).attr('href').match(new RegExp('\\.(png|jpe?g|svg)$'), 'gi')) {
        $(this).attr('data-lightbox', 'image-gallery').attr('data-title', $(this).find('img').attr('alt'))
      }
    })
  })

  lightbox.option({
    'albumLabel': 'Bild %1 von %2',
    'fadeDuration': 250,
    'resizeDuration': 0
  })
}
</script>
<script defer src='//cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<link href='//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/css/lightbox.css' rel='stylesheet'>
<script defer src='//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.9.0/js/lightbox.min.js' onload="initLightbox()"></script>
