  <header class='site-header' role='banner'>
    <div class='wrapper'>
      <div class='logo-wrapper'>
        <a class='site-logo' href='{{ site.baseurl }}/'>{% include logo.svg %}</a>
      </div>
      <div 'nav-wrapper'>
        <nav class='site-nav' role=navigation>
          <ul>{% assign current = page.url | downcase | split: '/' %}
            <li{% if current[1] == nil %} class='current'{% endif %}><a href='/'>Home</a></li>
            <li{% if current[1] == 'blog' %} class='current'{% endif %}><a href='/blog/'>Blog</a></li>
            <li{% if current[1] == 'fahrzeuge' %} class='current'{% endif %}><a href='/fahrzeuge/'>Fahrzeuge</a></li>
            <li{% if current[1] == 'statuten.html'  %} class='current'{% endif %}><a href='/statuten.html'>Statuten</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div id="fb-root"></div>
  <script>
		(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s); js.id = id;
		js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.9";
		fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
  </script>