html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing:  border-box;
}


// Site header

.logo-wrapper {
  text-align: center;
  padding-top: 2rem;
}

.site-logo > svg {
  width: 240px;

  path {
    fill: $logo-color;
  }
}

.nav-wrapper {
  position: relative;
  @extend %clearfix;
}

.site-nav {
  margin-top: 1.5rem;
  float: left;
  width: 100%;

  ul {
    margin: 0;
    padding: 0;
  }

  > ul {
  position: relative;
  margin-left: -50%;
  clear: left;
  float: right;
  right: 50%;

  > li {
    float: left;
    display: block;
    font-size: 15px;
    position: relative;
    left: 50%;
  }
  }

  li {
    list-style: none;
  float: left;
  display: block;

  &:not(:last-child) {
    margin-right: 1rem;
  }

  > a {
    background-color: $menu-link-background-color;
    color: $menu-link-text-color;
    padding: .5rem 1rem;
    display: block;
    text-decoration: none;
    text-align: center;
    border: 1px solid $menu-link-background-color-hover;
    border-radius: $menu-link-border-radius;
  }

  &.current > a,
  > a:hover,
  > a:active {
    background-color: $menu-link-background-color-hover;
    border-color: darken($menu-link-background-color-hover, 10%);
  }
  }
}

@include media-query-max($phone) {
  .site-nav {

  ul {
    width: 100%;
  }

    li {
      width: 50%;

    a {
      border-radius: 0;
    }

      &:not(:last-child) {
      margin-right: 0;
      }

    &:first-child a {
      border-top-left-radius: $menu-link-border-radius;
    }

    &:nth-child(2) a {
      border-top-right-radius: $menu-link-border-radius;
    }

    &:nth-last-child(2) a {
      border-bottom-left-radius: $menu-link-border-radius;
    }

    &:last-child a {
      border-bottom-right-radius: $menu-link-border-radius;
    }

    &:not(:nth-last-child(2)):not(:last-child) a {
      border-bottom: none;
    }

    &:nth-child(2n) a {
      border-left: none;
    }
    }
  }
}




.site-nav {

}


// Site footer

body {
    display: table;
    height: 100%;
    width: 100%;
}

.site-footer {
  background: $footer-background-color;
  color: $footer-text-color;
  border-top: 1px solid darken($footer-background-color, 10%);

  .wrapper {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    > :last-child {
      margin-bottom: 0;
    }
  }
}

.site-header,
.site-content,
.site-footer {
  display: table-row;
  height: 1px;
  @extend %clearfix;
}


.site-content {
  height: 100%;
}


// Site Content

.site-content > .wrapper {
  margin-top: 2.5rem;
  margin-bottom: 4rem;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.page {

  > article,
  > section {
    &:not(:nth-child(2)) {
      margin-top: 2rem;
    }
  }

  > footer {
    margin-top: 2rem;
  }

  > section,
  > article,
  > footer {
    > :last-child {
      margin-bottom: 0;
    }
  }
}


// Posts

.rss-subscribe {
  border-top: 1px solid $menu-link-background-color-hover;
  padding-top: 1rem;
}


// Cars

.vehicle {
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
    background: darken($menu-link-background-color, 2.5%);
    display: inline-table;

    td {
      padding: .5rem .75rem;
      border: 1px solid darken($menu-link-background-color-hover, 2.5%);
    }
  }
}

@include media-query-min($laptop) {
  .vehicle-overview {
    max-width: 1400px;

    .vehicle {
      width: 48%;
      float: left;

      &:nth-child(2n) {
        margin-right: 4%;
      }

    &:nth-child(2),
    &:nth-child(3) {
        margin-top: 0;
      }
    }
  }
}


// Images

img {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

img:not(:last-child),
  a:not(:last-child) > img {
  margin-bottom: 1rem;
}


// Videos

.video-container {
  height: 0;
  position: relative;
  padding-bottom: 100% / (16 / 9);
  overflow: hidden;

  embed,
  iframe,
  object {
    border: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  [src*=youtu] {
    height: 99.99999%;
  }
}
